# Dependências
/node_modules

# Arquivos de ambiente e configuração
.env
config/*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilação e Build
dist/
build/

# Permite apenas os badges de cobertura
!coverage/badge-*.svg

yc_output/

# IDEs e editores
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
docker-compose.prod.yml

# Outros arquivos sensíveis
certificados/
*.pem
*.key
